.profil-frame { width: 100%; height: 100%; }
$user-height: 35%;
$border-width: 2px;

.search-frame {
	height: 50px;
	border: 0px solid white;
	flex-direction: row;
	align-items: center;
	transition: all 1s;
	&:hover { border: 1.5px solid white; transform: scale(0.98); }
	.search-input-frame { border-width: 1px; height: 100%; font-size: 20px; }
	.button-search-frame { height: 100%; width: 250px; background-color: green; }
}

.user-profil-frame {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 3vh;
	margin-bottom: 1vh;
	height: $user-height;
	min-height: 40vh;
	font-family: 'Arcade';
	.photo-frame {
		margin-left: 2vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 15%;
		min-width: 230px;
		// height: 100%;
		.avatar-container-profil {
			width: 100%;
			height: 100%;
			pointer-events: none;
			img { width: 100%; height: auto; object-fit: cover; }
		}
		.container-avatar-change {
			padding: 0.5vh;
			width: 100%;
			height: 30%;
			transition: all 0.3s;
			color: white;
			text-align: center;
			border: 1px solid white;
			margin-top: 1vh;
			margin-bottom: 4vh;
			.custom-file-upload input[type='file'] { display: none; }
			.custom-file-upload {
				padding: 1vh;
				cursor: pointer;
				display: inline-block;
				transition: all 0.5s ease;
				&:hover { border: 0; font-size: 1.1em; }
			}
			.change-avatar-button	{
				cursor: pointer;
				border: none;
				margin-bottom: 1vh;
				font-family: 'Arcade';
				color: white;
				background-color: black;
				transition: all 0.5s ease;
				&:hover { border: 0; font-size: 1.02em; }
			}
			&:hover { border: 0; transform: scale(1.1) }
			@media screen and (max-width: 1200px) { margin-bottom: 0;}
		}
	}
	@media screen and (max-width: 1200px) { height: 100%; display: flex; flex-direction: column; }
	.user-data-div-display {
		flex-grow: 1;
		height: 100%;
		display: flex;
		flex-direction: row;
		.container-friend-list-profile {
			width: 40%;
			max-height: 300px;
			min-height: 180px;
			overflow: hidden;
			margin-right: 2vh;
			color: white;
			margin-left: 3vh;
			h2	{ top: 0; z-index: 1; position: sticky; text-align: center; }
			.friend-list-scroll {
				box-sizing: border-box;
				height: 100%;
				overflow-y: auto;
				padding-bottom: 75px;
				.display-friend-list-cell	{
					margin-bottom: 1vh;
					.status-circle { display: inline-block; width: 10px; height: 10px; border-radius: 50%; margin-left: 5px; }
					.status-circle.online { background-color: green; }
					.status-circle.offline { background-color: red; }
				}
				.image-cell-friend { max-width: 25px; max-height: 25px; }
			}
			@media screen and (max-width: 1200px) { height: 50%; margin-bottom: 1vh; }
		}
		.display-2fa-option	{
			display: flex;
			width: 15%;
			flex-direction: row;
			align-items: center;
			.switch-2fa	{ width: 100%; color: white; }
			.text-2fa-option { width: 70%; color: white; }
		}
		@media screen and (max-width: 1200px) {
			align-items: center;
			justify-content: center;
			margin-top: 1vh;
			margin-bottom: 3vh;
		}
		.user-profile-info {
			margin-top: 2vh;
			margin-left: 5vh;
			text-align: left;
			flex-grow: 1;
			color: white;
			@media screen and (max-width: 1200px) { text-align: center; margin-bottom: 1vh; }
		}
		@media screen and (max-width: 1200px) { flex-direction: column; margin-top: 0; }
		.container-social-button	{
			margin-top: 1vh;
			display: flex;
			color: white;
			justify-content: center;
			align-items: center;
			font-family: 'Arcade';
			flex-direction: column;
			width: 100%;
			height: 80%;
			@media screen and (max-width: 1200px) { flex-direction: row; }
			.social-button-add	{
				min-width: 130px;
				width: 20%;
				height: 20%;
				border: 1px solid white;
				text-align: center;
				margin-bottom: 1vh;
				transition: all 0.5s ease;
				p { padding: 1vh; }
				@media screen and (max-width: 1200px) { height: 100%; margin-bottom: 0; }
				&:hover { border: 0; transform: scale(1.02); background-color: green; }
			}
			.social-button-remove	{
				min-width: 130px;
				width: 20%;
				height: 20%;
				border: 1px solid white;
				text-align: center;
				margin-bottom: 1vh;
				transition: all 0.5s ease;
				p { padding: 1vh; }
				@media screen and (max-width: 1200px) { height: 100%; margin-bottom: 0; }
				&:hover { border: 0; transform: scale(1.02); background-color: orange; }
			}
			.social-button-game	{
				min-width: 130px;
				width: 20%;
				height: 20%;
				border: 1px solid white;
				text-align: center;
				margin-bottom: 1vh;
				transition: all 0.5s ease;
				p { padding: 1vh; }
				@media screen and (max-width: 1200px) { height: 100%; margin-bottom: 0; }
				&:hover { border: 0; transform: scale(1.02); color: black; background-color: white; }
			}
			.social-button-block	{
				min-width: 130px;
				width: 20%;
				height: 20%;
				border: 1px solid white;
				text-align: center;
				margin-bottom: 1vh;
				transition: all 0.5s ease;
				p { padding: 1vh; }
				@media screen and (max-width: 1200px) { height: 100%; margin-bottom: 0; }
				&:hover { border: 0; transform: scale(1.02); background-color: red; }
			}
		}

	}
}
.text-profil-title { font-size: 28px; }
.profil-title-frame { border-width: 2px; height: 50px; }
.info-frame { height: calc( ( 100% - #{$user-height} ) / 2); }

.stats {
	font-family: 'Arcade';
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5vw;
	.wins {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		.title {
			color: #4BD763;
		}
		.count {
			color: white;
		}
	}

	.looses {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		.title {
			color: red;
		}
		.count {
			color: white;
		}
	}
}

.element {
	height: 30%;
	overflow: auto;
}

.history {
	overflow: hidden !important;
}

.match-history-container	{
	display: flex;
	width: 100%;
	height: 60%;
	padding-bottom: 5vh;
	justify-content: center;
	align-items: center;
	font-family: 'Arcade';
}

//* ToggleButton *//
.form-switch { display: inline-block; cursor: pointer; -webkit-tap-highlight-color: transparent; }
  .form-switch i {
	position: relative;
	display: inline-block;
	margin-right: .5rem;
	width: 46px;
	height: 26px;
	background-color: #e6e6e6;
	border-radius: 23px;
	vertical-align: text-bottom;
	transition: all 0.3s linear;
  }
  .form-switch i::before {
	content: "";
	position: absolute;
	left: 0;
	width: 42px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
	transition: all 0.25s linear;
  }
  .form-switch i::after {
	content: "";
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	background-color: #fff;
	border-radius: 11px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
	transform: translate3d(2px, 2px, 0);
	transition: all 0.2s ease-in-out;
  }
  .form-switch:active i::after { width: 28px; transform: translate3d(2px, 2px, 0); }
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  .form-switch input { display: none; }
  .form-switch input:checked + i { background-color: #4BD763; }
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  .form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
  