
.login-frame {
	width: 100vw;
	height: 100vh;
}

.simple-pong-frame {
	height: 50%;
	justify-content: center;
	border-width: 0px;
}

.bottom-frame {
	height: 50%;
	border-width: 0px;
}

.text-logo {
	font-size: 48px;
}
