@import './_variables.scss';
@import './_responsive.scss';
@import './fonts/PublicPixel-z84yD.ttf';

.App {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
	width: 100%;
  height: 100%;
}

@font-face {
	font-family: 'Arcade';
	src: url( ./fonts/PublicPixel-z84yD.ttf ) format('truetype')
}

p {
	padding: 0px;
	margin: 0px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// To stylize NavLink that render a <a> ... </a>
a {
	text-decoration: none;
	color: inherit;
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: white;
}
