
	//white-space: nowrap;
.side-frame {
	height: 100%;
	width: 350px;
	min-width: 350px;
}

.logo-frame {
	height: 200px;
	width: 100%;
}

.text-logo {
	font-size: 48px;
	text-align: center;
}

.menu-frame {
	height: 100px;
}

.text-side {
	font-size: 32px;
	text-align: center;
}
